* {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
}


body {
  background: hsl(225, 100%, 94%);
}

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

.card {
  padding: 20px 50px;
}

.container {
  width: 400px;
  height: 600px;
  background: white; 
  margin: 10% auto;
}

.hero {
  width: 100%;
}

.summary {
  text-align: center;
  padding: auto;
}

.summary>h1 {
  font-size: 25px;
  font-weight: 900;
}

.plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-top: 10px;
}

.plan>a {
  color: hsl(245, 75%, 52%);
}

.music-plan {
  display: flex;
  gap: 20px;
}

.music-img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  margin-top: 10px;
}

.payment {
  margin-top: 20px;
  border: 0px solid;
  border-radius: 10px;
  background: hsl(245, 75%, 52%);
}

.payment p {
  margin: auto;
  padding: 12px;
  text-align: center;
  color: white;
}

.cancel {
  text-align: center;
  padding: 30px;
}